body {
    background-color: rgb(62, 33, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background: rgb(227, 230, 223);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: #e92929;
}

.message {
    font-size: 1.2rem;
    color: #141314;
}

.buttons {
    margin-top: 50px;
}

.btn {
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: 0.3s;
}

.yes {
    background-color: #41bb3d;
    color: rgb(22, 22, 20);
}

.no {
    background-color: #3bc6f0c5;
    color: rgb(18, 19, 17);
    position: relative;
}

.yes:hover {
    background-color: #3ca8f0;
}

.response {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #51e1fa;
    font-weight: bold;
}

